*{
    margin: 0px;

}

.register{
     background-image: url(../imgs/bg.jpg.webp);
     background-size: cover;
     width: 100%;
     height: 100vh;
     background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../imgs/bg.jpg.webp);

}

label{
    color: white;
    font-family: Verdana;
    font-size: 13px;
}

h1{
    color: white;
}


.form-control {
    height: 52px;
    color: #fff !important;
    font-size: 16px;
    border-radius: 40px;
   
    box-shadow: none;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 40px;
    padding-right: 20px;
}

input::placeholder {
    color: white;
  }


  .login-wrap {
    position: relative;
    z-index: 0;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 4px;
}

