<div class="card card-profile">
  <div class="card-avatar">
    <a href="javascript:;">
      <img class="img" src="https://scontent.fhan3-3.fna.fbcdn.net/v/t39.30808-1/343562007_536311131911942_4299375050156269756_n.jpg?stp=dst-jpg_p160x160&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=w33ERXaascQQ7kNvgE6WsEI&_nc_ht=scontent.fhan3-3.fna&oh=00_AYBEWQKqrc4pKC6SCRblvY6KzsIHpx_6ptKoBOT_QuynHw&oe=665CFD67">
    </a>
  </div>
  <div class="card-body">
    <h6 class="card-category text-gray">CEO / Co-Founder</h6>
    <h4 class="card-title">Alec Thompson</h4>
    <p class="card-description">
      Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye
      loves Kanye I love Rick Owens’ bed design but the back is...
    </p>
    <a href="" class="btn btn-primary btn-round">Follow</a>
  </div>
</div>
